/*     fonts     */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
  --font1: Verdana, Geneva, Tahoma, sans-serif;
  --font2: 'Passion One', cursive;
  --font3: 'Sriracha', cursive;
}

/*   Globais. */
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

html, body {
  min-height: 100vh;
  background: darkgray;
  font-family: var(--font1);
}

/*      Cabeçalho.    */
header {
  background: #000;
  color: #fff;
  text-align: center;
}
header h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-size: 10vw;
  font-family: var(--font2);
}
header p {
  padding-bottom: 50px;
}

/*. Para todos os A.  */
a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}
a:houver {
  text-decoration: underline;
}

/*.   centro do site.   */
section {
  padding: 10vh 0 10vh 10px;
  line-height: 2em;
  font-family: var(--font3);
  font-size: 3.5vw;
}

section p {
  padding-bottom: 2em;
}

section.normal {
  background: #fff;
  color: #000;
}

section.imagem {
  background-color: rgb( 51, 51, 51);
  color: #fff;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 473);
  background-size: cover;
  background-attachment: fixed;
}
section.imagem > p {
  background-color: rgba(0,0,0,0.455);
  display: inline-block;
  padding: 5px;
  text-shadow: 1px 1px 0 #000;
}

#img1 {
  background-image: url('../imagens/background001.jpg');
  background-position: right center;
}

#img2 {
  background-image: url('../imagens/background002.jpg');
}

/*.    rodape.     */
footer {
  background: #000;
  text-align: center;
  color: #fff;
  padding: 10px;
}